<button mat-button [matMenuTriggerFor]="menuroot">Menu</button>
<!-- #docregion sub-menu -->
<mat-menu #menuroot="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="info">Info</button>
  <button mat-menu-item [matMenuTriggerFor]="todos">Todos</button>
</mat-menu>

<mat-menu #info="matMenu">
  <button mat-menu-item routerLink="/">Homepage</button>
  <button mat-menu-item routerLink="/about">About</button>
  <button mat-menu-item routerLink="/contact">Contact us</button>
</mat-menu>

<mat-menu #todos="matMenu">
  <button mat-menu-item routerLink="/todos">Manage</button>
  <button mat-menu-item routerLink="/todos/create">Create</button>
</mat-menu>